streamlit
openai
langchain
langchain-community
langchain-openai
faiss-cpu
python-dotenv
beautifulsoup4
duckduckgo-search
pandas
sentence-transformers
pypdf
langchainhub
google-search-results
langchain_experimental
matplotlib
tabulate
openpyxl
mcp
httpx
akshare
